*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Roboto;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;
    background-color: rgb(18, 20, 20);
    margin: 3% 5%;
    color: #efeadc;
  }
  
  a{
    text-decoration: none;
    color: #4472C4;
  }
  
  a:hover{
    text-decoration: underline;
  }
  
  p{
    margin: 0 0 1rem;
  }
  
  h1{
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
  }
  
  h2{
    margin: 0 0 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  .text-blue{
    color: #4472C4;
  }
  
  .text-darkblue{
    color: #002060;
  }
  
  .text-uppercase{
    text-transform: uppercase; 
  }
  
  .icon{
    margin-right: .5rem;
  }
  
  .cv-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "left-column right-column right-column";
    width: 1200px;
    margin: 100px auto;
    box-shadow: 0 1px 3px rgba(238, 230, 230, 0.12), 0 1px 2px rgba(179, 174, 174, 0.24);
  }
  
  .section{
    margin-bottom: 1.5rem;
  }
  
  /* LEFT COLUMN */
  .left-column{
    grid-area: left-column;
    padding: 50px;
    background-color: #4472C4;
    color: white;
  }
  
  .img{
    border-radius: 50%;
    max-width: 150px;
    margin: auto;
    display: block;
    margin-bottom: 50px;
  }
  
  .skilss{
    list-style-type: none;
    padding: 0;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 0 0 1rem;
  }
  
  /* RIGHT COLUMN */
  .right-column{
    grid-area: right-column;
    display: grid;
    grid-template-rows: 250px 1fr;
    grid-template-areas: 
      "header"
      "content";
  }
  
  /* HEADER */
  .header{
    grid-area: header;
    padding: 50px;
    background-color: rgb(34, 36, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .infos{
    columns: 2;
    list-style-type: none;
    padding: 0;
  }
  
  /* CONTENT */
  .content{
    grid-area: content;
    padding: 50px;
  }
  
  .experience-list{
    list-style-type: circle;
  }






  nav {
    position: relative;
    margin: 0 auto 0;
    width: 700px;
    height: 70px;
    background: linear-gradient(0deg, rgb(10, 10, 10), #272727);
}

nav:before,
nav:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

.nav:after {
    filter: blur(50px);
}

/*-------------------------------------------------------------------------*/

.nav-barre {
    list-style-type: none;
    text-align: center;
}

.lien-nav {
    display: inline;
    font-family: 'Amatic SC';
    font-size: 30px;
}

.lien-nav a {
    display: inline-block;
    color: #FEEEC1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.lien-nav a:hover {
    background-color: rgb(168, 159, 212);
}